HUMANOID_G1_ROOT=/home/hoeng/IsaacLab/humanoid_G1
CMAKE_PREFIX_PATH=/home/hoeng/IsaacLab/humanoid_G1/.local/unitree_sdk2
LD_LIBRARY_PATH=/home/hoeng/IsaacLab/humanoid_G1/.local/unitree_sdk2/lib:/home/hoeng/IsaacLab/humanoid_G1/.local/mujoco/lib
# Fill only after physical G1 commissioning:
G1_REAL_NETWORK_INTERFACE=
